<div>
  <div
    class="h-screen overflow-hidden flex items-center justify-center"
    style="background: #edf2f7"
  >
  
    <!-- background -->
    <div
      class="flex min-h-screen flex-col justify-center from-rose-100 to-teal-100"
    >
      <!-- card -->
      <div
        class="mx-auto flex w-screen flex-col pl-6 justify-center bg-white rounded-2xl shadow-xl shadow-slate-300/60"
      >
        <!-- img -->
        <div class="imagen bg-cover bg-center h-36 w-auto sm:h-52 md:h-64 lg:h-80 xl:h-96"></div>
        <!-- text information -->
        <div class="p-4 text-center">
          <small class="text-blue-400 text-xs">Responsives Projects</small>
          <h1 class="text-2xl font-medium text-slate-600 pb-2">Porfolio de  {{miPorfolio.name}}</h1>
          <p class="text-sm tracking-tight font-light text-slate-400 leading-6">
            Dodge is an American brand of automobiles and a division of
            Stellantis, based in Auburn Hills, Michigan..
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
