<div class="grid grid-flow-row grid-cols-1">
  <app-encabezado></app-encabezado>
  <app-acerca-de></app-acerca-de>
  <app-aptitudes></app-aptitudes>

  <app-paginacion></app-paginacion>
  <app-experiencia-y-educacion></app-experiencia-y-educacion>
  <router-outlet></router-outlet>
</div>
<label>
  <input 
    [value]="1" 
    [(ngModel)]="isVisible" 
    name="isVisible" 
    type="radio" 
    [checked]="isSelected"/> Show
</label>

<label>
  <input 
    [value]="0" 
    [(ngModel)]="isVisible" 
    name="isVisible" 
    type="radio" 
    [checked]="!isSelected"/> Hide
</label>

<div class="showDiv" *ngIf="isVisible == 1"></div>
<div class="hideDiv" *ngIf="isVisible == 0"></div>
<script>
  function cambiar_parrafo() {
    document.getElementById("edit-acercade").style.display = "block";
    let texto = document.getElementById("text-acercade").innerText;
    console.log(texto);
  }
</script>
